includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 5  # Adjust based on project needs (5-7 recommended)
  paths:
    - app/   # Analyze only the `app` folder

  excludePaths:
    - database/*
    - storage/*
    - vendor/*
    - node_modules/*
    - bootstrap/cache/*
    - public/storage/*
    - tests/*
    - resources/views/*  # Blade templates
    - config/*  # Laravel config files
    - routes/*  # Routes files
    - public/index.php  # Entry point

  scanFiles:
    - bootstrap/app.php
